// Font Imports
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/inter-v12-latin-800.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./fonts/inter-v12-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Fonts
$font-family-main: "Inter", sans-serif;
$font-weight-normal: 400;
$font-weight-semibold: 700;
$font-weight-bold: 800;

// Colours
$clr-white: #fff;
$clr-offwhite: #fffdfa;
$clr-grey: #c5c6ce;
$clr-grey-dark: #5e607a;
$clr-red: #f15d51;
$clr-yellow: #e9aa52;
$clr-blue-dark: #00001a;
$clr-black: #000;

// Breakpoints
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1400px;
$breakpoint-desktop-1080: 1800px;
$breakpoint-desktop-2k: 2200px;
$breakpoint-desktop-4k: 3000px;
